<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/style-otp.css') }}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>Change Password</title>
</head>
<body>
    <div class="container-fp">
        <div class="form-container-fp">
            <form action="#" accept-charset="UTF-8" method="post" class="otp-form">
                <h2 class="title">Change Password</h2>
                <div class="input-field">
                    <label for="username"><i class="fas fa-user"></i> Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-field">
                    <label for="new-password"><i class="fas fa-lock"></i> New Password</label>
                    <input type="password" id="new-password" name="new-password" placeholder="Enter your new password" required>
                </div>
                <div class="input-field">
                    <label for="confirm-new-password"><i class="fas fa-lock"></i> Confirm New Password</label>
                    <input type="password" id="confirm-new-password" name="confirm-new-password" placeholder="Confirm your new password" required>
                </div>
                <input type="submit" value="Submit" class="btn solid">
            </form>
        </div>
    </div>
</body>
</html>
