<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/styles.css') }}">

        <title>Classic-Burger</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo"><h1>classic Burger.</h1></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link">Log Out</a></li>
                        {% else %}
                        <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Log in</a></li>
                        <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Register</a></li>
                        {% endif %}
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        <!--========== HEADER ENDS ==========-->

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title"><a href="#" class="nav__logo">Super</a> Delicious <br> Burger!</h1>
                        <p class="about__description">The fondest memories are made when gathered around the table.</p>
                        <a href="{{ url_for('menu_page') }}" class="button">View Menu</a>
                        <a href="{{ url_for('table_page') }}" class="button">Reserve Table</a>
                        <a href="{{ url_for('track_page') }}" class="button">Track Order</a>
                    </div>
                    
                    <img src="{{url_for('static', filename='styles/img/home.png')}}" alt = "" class="home__img">
                </div>
            </section>

            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">About us</span>
                        <h2 class="section-title about__initial">Crafting Delicious<br>Burgers and Pizzas</h2>
                        <p class="about__description">We specialize in crafting the most delectable burgers and pizzas in town. Our culinary expertise ensures that every bite is a burst of flavor and satisfaction. From juicy burgers with premium ingredients to mouthwatering pizzas topped with the finest cheeses and freshest vegetables, we bring you an unparalleled dining experience.</p>
                        <a href="#" class="button">Explore Our Menu</a>
                      </div>
                    <img src="static/styles/img/about.png" alt="" class="about__img">
                </div>
            </section>

            <!--========== SERVICES ==========-->
            <section class="services section bd-container" id="services">
                <span class="section-subtitle">Offering</span>
                <h2 class="section-title">Our amazing services</h2>

                <div class="services__container  bd-grid">
                    <div class="services__content">
                        <lord-icon
                            src="https://cdn.lordicon.com/yrxnwkni.json"
                            trigger="hover"
                            colors="primary:#e8e230,secondary:#cf6c0f"
                            style="width:100px;height:100px">
                        </lord-icon>
                        <h3 class="services__title">Table Reservation</h3>
                        <p class="services__description">We offer our clients excellent quality services for many years, with the best and delicious food in the city.</p>
                    </div>

                    <div class="services__content">
                        
                        <lord-icon
                            src="https://cdn.lordicon.com/fuyxlute.json"
                            trigger="hover"
                            colors="primary:#e8e230,secondary:#cf6c0f"
                            style="width:100px;height:100px">
                        </lord-icon>

                        <h3 class="services__title">Online Food Order</h3>
                        <p class="services__description">We offer our clients excellent quality services for many years, with the best and delicious food in the city.</p>
                    </div>

                    <div class="services__content">
                      <lord-icon
                            src="https://cdn.lordicon.com/hgvwxhhl.json"
                            trigger="loop"
                            colors="primary:#e8e230,secondary:#cf6c0f"
                            state="loop"
                            style="width:100px;height:100px">
                      </lord-icon>
                        <h3 class="services__title">Delivery Tracking</h3>
                        <p class="services__description">We offer our clients excellent quality services for many years, with the best and delicious food in the city.</p>
                    </div>
                </div>
            </section>
            <!--========== SERVICES ENDS ==========-->

            
        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="nav__logo">Classic Burger.</a>
                    <span class="footer__description">Best Quality</span>
                    <div>
                        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="table.html" class="footer__link">Table Reservation</a></li>
                        <li><a href="menu.html" class="footer__link">Order Food</a></li>
                        <li><a href="#" class="footer__link">Delivery Tracking</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Event</a></li>
                        <li><a href="#" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Address</h3>
                    <ul>
                        <li>Akaki kality</li>
                        <li>Adiss  Ababa, Ethiopia</li>
                        <li>+251-9124-33761</li>
                        <li>solomonmulu57@gmail.com</li>
                    </ul>
                </div>
            </div>

            <p class="footer__copy">&#169; 2023 Solomon Kassa. All rights reserved</p>
        </footer>
        <!--========== FOOTER ENDS ==========-->
        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="static/styles/js/main.js"></script>
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    </body>
</html>
