<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/css/style-login.css') }}">
    <title>Delivery Tracking</title>
 
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

          <form method="POST" action="#" class="sign-in-form">
            {{ order_id.hidden_tag() }}
            <h2 class="title">Delivery Tracking</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{ order_id.order_id.label(class="form-control-label") }}
              {{ order_id.order_id(class="form-control", placeholder="Order ID") }}
            </div>

            {{ order_id.submit(class="btn solid", value="Track") }}
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Forgot your Order ID?</h3>
            <p>
              Check your Orders history.
            </p>
            <a href="{{ url_for('cart_page') }}" class="btn transparent">Your Orders</a>
          </div>
          <img src="{{ url_for('static', filename='styles/img/ontheway.svg') }}" class="image" alt="" />
        </div>   
      </div>
    </div>

    <script src="{{ url_for('static', filename='styles/js/login.js') }}"></script>
  </body>
</html>
